@charset "utf-8";

h1 {
    text-align: center;
}

h2 {
    margin: 5px;
    padding: 0;
}

body {
    background-color: bisque;
}

div.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
}

@media screen and (max-width: 800px) {
    div.grid {
        grid-template-columns: 1fr;
    }
}

div.grid > div {
    background-color: blanchedalmond;
    margin: 20px;
    padding: 20px;
    box-shadow: -5px 5px 5px 2px silver;
    border-radius: 0 15px 0 0;
}

div.grid > div:nth-child(even) {
    background-color: antiquewhite;
}

ul {
    list-style: square;
}

a {
    text-decoration: none;
}

.textCenter {
    text-align: center;
}
